@charset "UTF-8";

.jumbotron {
	margin-bottom:0px;
	background-color:#2E2E2E;
	color: #fff;
	padding:2rem 2rem 2rem 2rem;
	border-color:white;
	border-bottom-style: solid;
	border-width: 0.5px;
	border-radius: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: #dee2e6;
	border-color: black;
}

.nav-item .nav-link {
	color: gray;
}

.row .row-content {
	padding: 4px 1px 1px 1px;
}

.sidenav {
  z-index: 1;
  top: 20px;
  left: 10px;
  height: 100%;
  background: #2E2E2E;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 15px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: gray;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}